{% extends "layouts/funcionarioLayout.html" %}

{% block title %}Funcionario{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <div class="table-responsive">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">Id:</th>
                    <th scope="col">Número de solicitud:</th>
                    <th scope="col">Fecha de ingreso:</th>
                    <th scope="col">Fecha de vencimiento:</th>
                    <th scope="col">Nombre del solicitante:</th>
                    <th scope="col">Materia:</th>
                    <th scope="col">Tipo:</th>
                    <th scope="col">Funcionario:</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                    {% if solicitud.departamento == current_user.departamento %}
                        <tr class="scope">
                            <td>{{ solicitud.idSolicitud }}</td>
                            <td>{{ solicitud.numero }}</td>
                            <td>{{ solicitud.fechaDeIngreso }}</td>
                            <td>{{ solicitud.fechaDeVencimiento }}</td>
                            <td>{{ solicitud.nombreSolicitante }}</td>
                            <td>{{ solicitud.materia }}</td>
                            <td>{{ solicitud.tipo }}</td>
                            <td>{{ solicitud.usuarioID }}</td>
                            <td>
                                <a name="editSolicitud" id="editSolicitud" class="btn btn-info" href="/aedits/{{solicitud.idSolicitud}}" role="button">Editar</a>
                                <a name="deleteSolicitud" id="deleteSolicitud" class="btn btn-danger" href="/deletes/{{solicitud.idSolicitud}}" role="button">Eliminar</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}