{% extends "layouts/funcionarioLayout.html" %}
{% block title %}Funcionario{% endblock %}

{% block body %}
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div class="h-100 p-5 text-white bg-dark">
                <h2>Gestión de la solicitud #{{ solicitud.idSolicitud }}</h2>
                <p>Esta solicitud es de tipo {{solicitud.tipo}}, ingresada por {{solicitud.nombreSolicitante}} y fue ingresada al sistema por {{solicitud.usuarioID}}</p>
                <hr>
                <form action="" method="POST"></form>
                <div class="row g-2 bg-light">
                    <div class="container text-center col-lg-12 p-5">
                        <div class="col-lg-6  m-2">
                            <div class="input-group-lg mb-3">                                
                                <input type="text" name="idInternoDepto" id="idInternoDepto" value="{{estado.idInternoDepto}}" disabled>
                                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" value="{{current_user.nombreUsuario}}" required disabled>                                
                                <input type="text" name="idModificacion" id="idModificacion" value="{{estado.idModificacion}}" disabled>
                                <input type="text" name="nombreUsuario" id="nombreUsuario" value="{{current_user.nombreUsuario}}" disabled>
                                <input type="text" name="fkIdSolicitud" id="fkIdSolicitud" value="{{solicitud.idSolicitud}}">
                            </div>
                            <div class="mb-3">
                              <label for="descripcionProceso" class="form-label">Descripción de la etapa</label>
                              <textarea class="form-control" name="descripcionProceso" id="descripcionProceso" rows="3"></textarea>
                            </div>
                            <div class="input-group-lg mb-3">
                                <input type="date" class="form-control" id="fechaModificacion" name="fechaModificacion" required>
                            </div>
                        </div>
                        <div class="col-lg-6 form-floating m-2">
                            <div class="mb-3">
                              <label for="antecedentePDF" class="form-label">Subir antecedente</label>
                              <input type="file" class="form-control" name="antecedentePDF" id="antecedentePDF" placeholder="PDF">
                            </div>
                            <div class="form-floating mb-3">
                                <div class="input-group form-floating mb-3">
                                    
                                </div>
                            </div>
                            <div class="mb-3 form-floating">

                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </div>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="d-flex align-items-center justify-content-center">
                                {% for category,message in messages %}
                                    </svg>
                                    <div class="alert col-lg-2  alert-{{category}} alert-dismissible show fade" role="alert">
                                        <strong>{{message}}</strong> 
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                                    </div>    
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="row-md">
                        <button type="submit" class="btn btn-primary mb-2">Crear usuario</button>        
                    </div>
                </div>
                </form>
            </div>
            
        </div>

    </div>

{% endblock %}