{% extends "layouts/secretariaLayout.html" %}
{% block title %}Secretaría{% endblock %}
{% block body %}
<div class="container-fluid mt-2">
    <div class="table-responsive">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">Id:</th>
                    <th scope="col">Número de solicitud:</th>
                    <th scope="col">Fecha de ingreso:</th>
                    <th scope="col">Hora de ingreso:</ths>
                    <th scope="col">Fecha de vencimiento:</th>
                    <th scope="col">Nombre del solicitante:</th>
                    <th scope="col">Materia:</th>
                    <th scope="col">Tipo:</th>
                    <th scope="col">Funcionario:</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                    {% if solicitud.departamento == current_user.departamento and solicitud.unidad %}
                        <tr class="scope">
                            <td>{{ solicitud.idSolicitud }}</td>
                            <td>{{ solicitud.numero }}</td>
                            <td>{{ solicitud.fechaDeIngreso }}</td>
                            <td>{{ solicitud.horaDeIngreso }}</td>
                            <td>{{ solicitud.fechaDeVencimiento }}</td>
                            <td>{{ solicitud.nombreSolicitante }}</td>
                            <td>{{ solicitud.materia }}</td>
                            <td>{{ solicitud.tipo }}</td>
                            <td>{{ solicitud.usuarioID }}</td>
                            <td>
                                <form method="POST" action="/asignarUnidad/{{solicitud.idSolicitud}}/{{solicitud.unidad}}">
                                    <div class="mb-3">
                                        <select class="form-select form-select-lg" name="unidad" id="unidad">
                                            <option selected>Elegir una unidad</option>
                                            <option value="Almacén">Almacén</option>
                                            <option value="Asistencia">Asistencia</option>            
                                            <option value="Asistente social">Asistente social</option>
                                            <option value="Bienes y servicios">Bienes y servicios</option>
                                            <option value="Finanzas">Finanzas</option>
                                            <option value="Gestión operativa">Gestión operativa</option>
                                            <option value="Horas turno">Horas turno</option>
                                            <option value="Informática">Informática</option>
                                            <option value="Jefe de departamento">Jefe de departamento</option>
                                            <option value="RR.HH.">RR.HH.</option>
                                            <option value="Unidad de loteo y subasta">Unidad de loteo y subasta</option>
                                            <option value="Adiestramiento canino">Adiestramiento canino</option>
                                            <option value="Aforo">Aforo</option>
                                            <option value="Análisis financiero">Análisis financiero</option>
                                            <option value="Drogas">Drogas</option>
                                            <option value="Fiscalización Aposteriori">Fiscalización Aposteriori</option>
                                            <option value="UAR Arica">UAR Arica</option>
                                            <option value="UFDDC análisis">UFDDC análisis</option>
                                            <option value="UFDDC análisis">Unidad radiológica</option>
                                            <option value="Fernando Gatica">Fernando Gatica</option>
                                            <option value="Katherine Ampuero">Katherine Ampuero</option>
                                            <option value="Abogado 3">Abogado 3</option>
                                            <option value="Centro adiestramiento">Centro adiestramiento</option>
                                            <option value="DTI">DTI</option>
                                            <option value="Marítimo">Marítimo</option>
                                            <option value="Puerto Molo">Puerto Molo</option>
                                            <option value="Terrestres">Terrestres</option>
                                            <option value="TNI">TNI</option>
                                            <option value="Vehicular">Vehicular</option>
                                            <option value="Zona primaria">Zona primaria</option>
                                            <option value="Artículo 35">Artículo 35</option>
                                            <option value="Audiencias">Audiencias</option>
                                            <option value="Control receptora">Control receptora</option>
                                            <option value="Control régimen suspensivos">Control régimen suspensivos</option>
                                            <option value="Franquicia">Franquicia</option>
                                            <option value="Giro y cargos">Giro y cargos</option>
                                            <option value="Pagos de derechos">Pagos de derechos</option>
                                            <option value="Pasavantes">Pasavantes</option>
                                            <option value="Sub. departamento de cargos y denuncias">Sub. departamento de cargos y denuncias</option>
                                            <option value="Sub. departamento de reposiciones adminstrativas">Sub. departamento de reposiciones adminstrativas</option>
                                            <option value="Sub. departamento técnico">Sub. departamento técnico</option>
                                            <option value="Zona franca">Zona franca</option>
                                            <option value="Unidad de coorinación">Unidad de coorinación</option>
                                            <option value="Director regional">Director regional</option>
                                            <option value="Archivos">Archivos</option>
                                            <option value="Gestión y control">Gestión y control</option>
                                        </select>
                                        <button class="btn btn-primary mt-2" type="submit">Asignar a unidad</button>
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
